<a href="https://colab.research.google.com/github/ticoabc/bootcampPreparaTech/blob/main/Aula14.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Aula 14 - Douglas Ribeiro**
*douglas.ribeiro@soulcode.com*

#1.Instalação do pacote mysql-connector-python usando o gerenciador de pacotes pip#

In [ ]:
!pip install mysql-connector-python

#2.Importação das bibliotecas necessárias#


1.   import mysql.connector # necessária para se conectar com o banco de dados MySQL
2.   import pandas as pd # Será usada para visualização das tabelas extraídas do My SQL

In [ ]:
import mysql.connector # necessária para se conectar com o banco de dados MySQL
import pandas as pd # Será usada para visualização das tabelas extraídas do My SQL

#3.Definição das informações de conexão ao banco de dados#


>1.   Local
2.   Usuário
3.   Senha
4.   Banco de Dados

In [ ]:
host = 'gcp.connect.psdb.cloud'#Endereço
user = '6uv2uczi3f9vc7fltgo7'#user
password = 'pscale_pw_xI3UINJGd5X5Db5jkRa83wOs1vWuCx7xd8GXfctvBMC'#senha
database = 'loja'#banco de dados

#4.Estabelecimento da conexão com o banco de dados usando as informações fornecidas#

In [ ]:
# Estabelecimento da conexão com o banco de dados usando as informações fornecidas
connection = mysql.connector.connect(
    host=host,
    user=user,
    password=password,
    database=database,
)

#5.Objetivo: Fazer uma consulta que retorne as tabelas do banco de dados loja#
> Resumo do comando: exibe todas as tabelas do banco de dados loja

In [ ]:
cursor = connection.cursor() # Criação de um cursor para executar consultas SQL no banco de dados
query = 'SHOW TABLES;' # Definição da consulta SQL a ser executada
cursor.execute(query) # Execução da consulta no banco de dados
result = cursor.fetchall() # Recuperação de todos os resultados da consulta
tables = pd.DataFrame(result, columns=cursor.column_names) # Criação de um DataFrame Pandas usando os resultados da consulta e os nomes das colunas do cursor
display(tables) # Exibição do DataFrame Pandas contendo os resultados da consulta
cursor.close() # Fechamento do cursor após a conclusão da consulta
connection.close() # Fechamento da conexão após a consulta

#6.Objetivo: Fazer uma consulta que retorne todos os campos e todos os registros da tabela Cliente#
>Resumo do comando: Seleciona todas as colunas da tabela: Cliente e armazena os resultados da consulta em um dataframe Pandas chamado clientes

In [ ]:
# Estabelecimento da conexão com o banco de dados usando as informações fornecidas
connection = mysql.connector.connect(
    host=host,
    user=user,
    password=password,
    database=database,
)
cursor = connection.cursor() # Criação de um cursor para executar consultas SQL no banco de dados
query = 'SELECT * FROM Cliente' # Definição da consulta SQL a ser executada
cursor.execute(query) # Execução da consulta no banco de dados
result = cursor.fetchall() # Recuperação de todos os resultados da consulta
clientes = pd.DataFrame(result, columns=cursor.column_names) # Criação de um DataFrame Pandas usando os resultados da consulta e os nomes das colunas do cursor
display(clientes) # Exibição do DataFrame Pandas contendo os resultados da consulta
cursor.close() # Fechamento do cursor após a conclusão da consulta
connection.close() # Fechamento da conexão após a consulta

#7.Objetivo: Fazer uma consulta que retorne todos os campos e todos os registros da tabela Pedido#
>Resumo do comando: Seleciona todas as colunas da tabela: Pedido e armazena
os resultados da consulta em um dataframe Pandas chamado pedidos

In [ ]:
# Abertura da conexão para uma nova consulta
connection = mysql.connector.connect(
    host=host,
    user=user,
    password=password,
    database=database,
)
cursor = connection.cursor() # Criação de um cursor para executar consultas SQL no banco de dados
query = 'SELECT * FROM Pedido;' # Definição da consulta SQL a ser executada
cursor.execute(query) # Execução da consulta no banco de dados
result = cursor.fetchall() # Recuperação de todos os resultados da consulta
pedidos = pd.DataFrame(result, columns=cursor.column_names) # Criação de um DataFrame Pandas usando os resultados da consulta e os nomes das colunas do cursor
display(pedidos) # Exibição do DataFrame Pandas contendo os resultados da consulta
cursor.close() # Fechamento do cursor após a conclusão da consulta
connection.close() # Fechamento da conexão após a consulta

#8.Objetivo: Fazer uma consulta que retorne todos os campos e todos os registros da tabela Produto#
>Resumo do comando: Seleciona todas as colunas da tabela: Produto e armazena os resultados da consulta em um dataframe Pandas chamado produtos

In [ ]:
# Abertura da conexão para uma nova consulta
connection = mysql.connector.connect(
    host=host,
    user=user,
    password=password,
    database=database,
)
cursor = connection.cursor() # Criação de um cursor para executar consultas SQL no banco de dados
query = 'SELECT * FROM Produto;' # Definição da consulta SQL a ser executada
cursor.execute(query) # Execução da consulta no banco de dados
result = cursor.fetchall() # Recuperação de todos os resultados da consulta
produtos = pd.DataFrame(result, columns=cursor.column_names) # Criação de um DataFrame Pandas usando os resultados da consulta e os nomes das colunas do cursor
display(produtos) # Exibição do DataFrame Pandas contendo os resultados da consulta
cursor.close() # Fechamento do cursor após a conclusão da consulta
connection.close() # Fechamento da conexão após a consulta

#9.Objetivo: Fazer uma consulta que retorne todos os campos e todos os registros da tabela ItemPedido#
>Resumo do comando: Seleciona todas as colunas da tabela: ItemPedido e armazena os resultados da consulta em um dataframe Pandas chamado itempedido

In [ ]:
# Abertura da conexão para uma nova consulta
connection = mysql.connector.connect(
    host=host,
    user=user,
    password=password,
    database=database,
)
cursor = connection.cursor() # Criação de um cursor para executar consultas SQL no banco de dados
query = 'SELECT * FROM ItemPedido;' # Definição da consulta SQL a ser executada
cursor.execute(query) # Execução da consulta no banco de dados
result = cursor.fetchall() # Recuperação de todos os resultados da consulta
itempedido = pd.DataFrame(result, columns=cursor.column_names) # Criação de um DataFrame Pandas usando os resultados da consulta e os nomes das colunas do cursor
display(itempedido) # Exibição do DataFrame Pandas contendo os resultados da consulta
cursor.close() # Fechamento do cursor após a conclusão da consulta
connection.close() # Fechamento da conexão após a consulta

#10.Objetivo: Fazer uma consulta que retorne todos os campos e todos os registros da tabela Categoria#
>Resumo do comando: Seleciona todas as colunas da tabela: Categoria e armazena os resultados da consulta em um dataframe Pandas chamado categoria

In [ ]:
# Abertura da conexão para uma nova consulta
connection = mysql.connector.connect(
    host=host,
    user=user,
    password=password,
    database=database,
)
cursor = connection.cursor() # Criação de um cursor para executar consultas SQL no banco de dados
query = 'SELECT * FROM Categoria;' # Definição da consulta SQL a ser executada
cursor.execute(query) # Execução da consulta no banco de dados
result = cursor.fetchall() # Recuperação de todos os resultados da consulta
categoria = pd.DataFrame(result, columns=cursor.column_names) # Criação de um DataFrame Pandas usando os resultados da consulta e os nomes das colunas do cursor
display(categoria) # Exibição do DataFrame Pandas contendo os resultados da consulta
cursor.close() # Fechamento do cursor após a conclusão da consulta
connection.close() # Fechamento da conexão após a consulta

#11.Objetivo: Fazer uma consulta que retorne todos os campos e todos os registros da tabela ProdutoCategoria#
>Resumo do comando: Seleciona todas as colunas da tabela: ProdutoCategoria e armazena os resultados da consulta em um dataframe Pandas chamado produtocategoria

In [ ]:
# Abertura da conexão para uma nova consulta
connection = mysql.connector.connect(
    host=host,
    user=user,
    password=password,
    database=database,
)
cursor = connection.cursor()# Criação de um cursor para executar consultas SQL no banco de dados
query = 'SELECT * FROM ProdutoCategoria;' # Definição da consulta SQL a ser executada
cursor.execute(query) # Execução da consulta no banco de dados
result = cursor.fetchall() # Recuperação de todos os resultados da consulta
produtocategoria = pd.DataFrame(result, columns=cursor.column_names) # Criação de um DataFrame Pandas usando os resultados da consulta e os nomes das colunas do cursor
display(produtocategoria) # Exibição do DataFrame Pandas contendo os resultados da consulta
cursor.close() # Fechamento do cursor após a conclusão da consulta
connection.close() # Fechamento da conexão após a consulta

#12.Objetivo: Fazer uma consulta que retorne todos os campos e todos os registros da tabela ItemPedido.#
>Resumo do comando: Seleciona as colunas: id_produto e quantidade da tabela:
ItemPedido, quando a quantidade for maior ou igual a 40 e armazena
os resultados da consulta em um dataframe Pandas chamado where1

In [ ]:
# Abertura da conexão para uma nova consulta
connection = mysql.connector.connect(
    host=host,
    user=user,
    password=password,
    database=database,
)
cursor = connection.cursor() # Criação de um cursor para executar consultas SQL no banco de dados
# Definição da consulta SQL a ser executada
query = '''
SELECT id_produto, quantidade FROM ItemPedido
WHERE quantidade >= 40;
'''
cursor.execute(query) # Execução da consulta no banco de dados
result = cursor.fetchall() # Recuperação de todos os resultados da consulta
where1 = pd.DataFrame(result, columns=cursor.column_names) # Criação de um DataFrame Pandas usando os resultados da consulta e os nomes das colunas do cursor
display(where1) # Exibição do DataFrame Pandas contendo os resultados da consulta
cursor.close() # Fechamento do cursor após a conclusão da consulta
connection.close() # Fechamento da conexão após a consulta

#13.Objetivo: Fazer uma consulta que retorne todos os campos e todos os registros da tabela Cliente#
>Resumo do comando: Seleciona todas as colunas da tabela cliente,
quando o endereço for igual a SP e armazena os resultados da consulta em um
dataframe Pandas chamado where2

In [ ]:
# Abertura da conexão para uma nova consulta
connection = mysql.connector.connect(
    host=host,
    user=user,
    password=password,
    database=database,
)
cursor = connection.cursor() # Criação de um cursor para executar consultas SQL no banco de dados
# Definição da consulta SQL a ser executada
query = '''SELECT * FROM Cliente
WHERE endereco = "SP";''' #campo de texto precisa estar em aspas na consulta
cursor.execute(query) # Execução da consulta no banco de dados
result = cursor.fetchall() # Recuperação de todos os resultados da consulta
where2 = pd.DataFrame(result, columns=cursor.column_names) # Criação de um DataFrame Pandas usando os resultados da consulta e os nomes das colunas do cursor
display(where2) # Exibição do DataFrame Pandas contendo os resultados da consulta
cursor.close() # Fechamento do cursor após a conclusão da consulta
connection.close() # Fechamento da conexão após a consulta

#14.Consultando valores distintos - DISTINCT#
>Resumo do comando: Seleciona distintamente as colunas: id_produto e quantidade
da tabela: ItemPedido, quando o quando a quantidade for igual a 10.
e armazena os resultados da consulta em um dataframe Pandas chamado distinct

In [ ]:
# Abertura da conexão para uma nova consulta
connection = mysql.connector.connect(
    host=host,
    user=user,
    password=password,
    database=database,
)
cursor = connection.cursor()  # Criação de um cursor para executar consultas SQL no banco de dados
# Definição da consulta SQL a ser executada
query = '''
SELECT DISTINCT id_produto, quantidade FROM ItemPedido
WHERE quantidade = 10;
'''
cursor.execute(query) # Execução da consulta no banco de dados
result = cursor.fetchall() # Recuperação de todos os resultados da consulta
distinct = pd.DataFrame(result, columns=cursor.column_names) # Criação de um DataFrame Pandas usando os resultados da consulta e os nomes das colunas do cursor
display(distinct) # Exibição do DataFrame Pandas contendo os resultados da consulta
cursor.close() # Fechamento do cursor após a conclusão da consulta
connection.close() # Fechamento da conexão após a consulta

#15.Consultando registros limitados - LIMIT#
>Resumo do comando: Lendo o comando: Seleciona todos os atributos da tabela
Cliente e mostra apenas os cinco primeiros registros, e armazena os resultados
da consulta em um dataframe Pandas chamado limit

In [ ]:
# Abertura da conexão para uma nova consulta
connection = mysql.connector.connect(
    host=host,
    user=user,
    password=password,
    database=database,
)
cursor = connection.cursor()  # Criação de um cursor para executar consultas SQL no banco de dados
# Definição da consulta SQL a ser executada
query = '''
SELECT * FROM Cliente
LIMIT 5;
'''
cursor.execute(query) # Execução da consulta no banco de dados
result = cursor.fetchall() # Recuperação de todos os resultados da consulta
limit = pd.DataFrame(result, columns=cursor.column_names) # Criação de um DataFrame Pandas usando os resultados da consulta e os nomes das colunas do cursor
display(limit) # Exibição do DataFrame Pandas contendo os resultados da consulta
cursor.close() # Fechamento do cursor após a conclusão da consulta
connection.close() # Fechamento da conexão após a consulta

#16.Usando BOOLEANOS (AND|OR|NOT)#
>Resumo do comando: Seleciona as colunas: nome e endereco da tabela: Clientes,
apenas os registros com endereco igual a 'BA' e id_cliente igual a 19, e
armazena os resultados da consulta em um dataframe Pandas chamado e

In [ ]:
# Abertura da conexão para uma nova consulta
connection = mysql.connector.connect(
    host=host,
    user=user,
    password=password,
    database=database,
)
cursor = connection.cursor()  # Criação de um cursor para executar consultas SQL no banco de dados
# Definição da consulta SQL a ser executada
query = '''
SELECT nome, endereco
FROM Cliente
WHERE endereco = 'BA'
AND id_cliente = 19;
'''
cursor.execute(query) # Execução da consulta no banco de dados
result = cursor.fetchall() # Recuperação de todos os resultados da consulta
e = pd.DataFrame(result, columns=cursor.column_names) # Criação de um DataFrame Pandas usando os resultados da consulta e os nomes das colunas do cursor
display(e) # Exibição do DataFrame Pandas contendo os resultados da consulta
cursor.close() # Fechamento do cursor após a conclusão da consulta
connection.close() # Fechamento da conexão após a consulta

          nome endereco
0  Prof Raquel       BA

#SQL para análise de dados#

###GROUP BY

>Resumo do comando: Comando que seleciona o atributo endereço, cria e seleciona a coluna count renomeada com freq da tabela Cliente e agrupa por endereco, e armazena os resultados da consulta em um dataframe Pandas chamado grupo

In [ ]:
# Abertura da conexão para uma nova consulta
connection = mysql.connector.connect(
    host=host,
    user=user,
    password=password,
    database=database,
)
cursor = connection.cursor()  # Criação de um cursor para executar consultas SQL no banco de dados
# Definição da consulta SQL a ser executada
query = '''
SELECT endereco
     , count(*) as freq
  FROM Cliente
 GROUP BY endereco;
'''
cursor.execute(query) # Execução da consulta no banco de dados
result = cursor.fetchall() # Recuperação de todos os resultados da consulta
grupo = pd.DataFrame(result, columns=cursor.column_names) # Criação de um DataFrame Pandas usando os resultados da consulta e os nomes das colunas do cursor
display(grupo) # Exibição do DataFrame Pandas contendo os resultados da consulta
cursor.close() # Fechamento do cursor após a conclusão da consulta
connection.close() # Fechamento da conexão após a consulta

###Agrupamento Condicional - HAVING#
>Resumo do comando: Consulta que seleciona endereco e contangem de endereco da
tabela Cliente, Agrupado por endereço tendo apenas (HAVING) os edereços que se
repetem pelo menos duas vezes. e armazena os resultados da consulta
em um dataframe Pandas chamado tendo

In [ ]:
# Abertura da conexão para uma nova consulta
connection = mysql.connector.connect(
    host=host,
    user=user,
    password=password,
    database=database,
)
cursor = connection.cursor()  # Criação de um cursor para executar consultas SQL no banco de dados
# Definição da consulta SQL a ser executada
query = '''
SELECT endereco
     , count(*)
  FROM Cliente
 GROUP BY endereco
 HAVING count(*) > 1;
'''
cursor.execute(query) # Execução da consulta no banco de dados
result = cursor.fetchall() # Recuperação de todos os resultados da consulta
tendo = pd.DataFrame(result, columns=cursor.column_names) # Criação de um DataFrame Pandas usando os resultados da consulta e os nomes das colunas do cursor
display(tendo) # Exibição do DataFrame Pandas contendo os resultados da consulta
cursor.close() # Fechamento do cursor após a conclusão da consulta
connection.close() # Fechamento da conexão após a consulta

###Combinando os resultados de duas consultas - UNION###
>Resumo do comando: Unindo duas consultas, sendo a primeira como a seleção de
id_pedido e id_produto da tabela ItemPedido onde o id_produto é 1, e a segunda
como a seleção de id_pedido e id_produto da tabela ItemPedido onde o
id_produto é 4 e armazena os resultados da consulta
em um dataframe Pandas chamado uniao

In [ ]:
# Abertura da conexão para uma nova consulta
connection = mysql.connector.connect(
    host=host,
    user=user,
    password=password,
    database=database,
)
cursor = connection.cursor()  # Criação de um cursor para executar consultas SQL no banco de dados
# Definição da consulta SQL a ser executada
query = '''
SELECT id_pedido, id_produto
  FROM ItemPedido
 WHERE id_produto = 2
UNION
SELECT id_pedido, id_produto
  FROM ItemPedido
 WHERE id_produto = 3;
'''
cursor.execute(query) # Execução da consulta no banco de dados
result = cursor.fetchall() # Recuperação de todos os resultados da consulta
uniao = pd.DataFrame(result, columns=cursor.column_names) # Criação de um DataFrame Pandas usando os resultados da consulta e os nomes das colunas do cursor
display(uniao) # Exibição do DataFrame Pandas contendo os resultados da consulta
cursor.close() # Fechamento do cursor após a conclusão da consulta
connection.close() # Fechamento da conexão após a consulta

###IN e BEETWEEN###

In [ ]:
# Abertura da conexão para uma nova consulta
connection = mysql.connector.connect(
    host=host,
    user=user,
    password=password,
    database=database,
)
cursor = connection.cursor()  # Criação de um cursor para executar consultas SQL no banco de dados
# Definição da consulta SQL a ser executada
query = '''
SELECT
    id_pedido,
    id_produto
  FROM ItemPedido
 WHERE id_produto IN (1, 2)
   AND id_pedido BETWEEN 1 AND 9;
'''
cursor.execute(query) # Execução da consulta no banco de dados
result = cursor.fetchall() # Recuperação de todos os resultados da consulta
distinct = pd.DataFrame(result, columns=cursor.column_names) # Criação de um DataFrame Pandas usando os resultados da consulta e os nomes das colunas do cursor
display(distinct) # Exibição do DataFrame Pandas contendo os resultados da consulta
cursor.close() # Fechamento do cursor após a conclusão da consulta
connection.close() # Fechamento da conexão após a consulta

###LIKE 1###
>Agora vamos para a tabela Produto e no atributo nome vamos realizar uma consulta que nos retorne todos os produtos que terminem com a letra o e os seus
respectivos ids

In [ ]:
# Abertura da conexão para uma nova consulta
connection = mysql.connector.connect(
    host=host,
    user=user,
    password=password,
    database=database,
)
cursor = connection.cursor()  # Criação de um cursor para executar consultas SQL no banco de dados
# Definição da consulta SQL a ser executada
query = '''
SELECT
  id_produto,
  nome
  FROM Produto
  WHERE nome LIKE '%O';
'''
cursor.execute(query) # Execução da consulta no banco de dados
result = cursor.fetchall() # Recuperação de todos os resultados da consulta
distinct = pd.DataFrame(result, columns=cursor.column_names) # Criação de um DataFrame Pandas usando os resultados da consulta e os nomes das colunas do cursor
display(distinct) # Exibição do DataFrame Pandas contendo os resultados da consulta
cursor.close() # Fechamento do cursor após a conclusão da consulta
connection.close() # Fechamento da conexão após a consulta

   id_produto   nome
0           2  Garfo
1           5   Copo

###LIKE 2###
>Agora vamos para a tabela Produto e no atributo nome vamos realizar uma consulta que nos retorne todos os produtos que comecem com a letra C e os seus
respectivos ids

In [ ]:
# Abertura da conexão para uma nova consulta
connection = mysql.connector.connect(
    host=host,
    user=user,
    password=password,
    database=database,
)
cursor = connection.cursor()  # Criação de um cursor para executar consultas SQL no banco de dados
# Definição da consulta SQL a ser executada
query = '''
SELECT
  id_produto,
  nome
  FROM Produto
  WHERE nome LIKE 'C%';
'''
cursor.execute(query) # Execução da consulta no banco de dados
result = cursor.fetchall() # Recuperação de todos os resultados da consulta
like = pd.DataFrame(result, columns=cursor.column_names) # Criação de um DataFrame Pandas usando os resultados da consulta e os nomes das colunas do cursor
display(like) # Exibição do DataFrame Pandas contendo os resultados da consulta
cursor.close() # Fechamento do cursor após a conclusão da consulta
connection.close() # Fechamento da conexão após a consulta

   id_produto    nome
0           1  Caneca
1           4  Colher
2           5    Copo

###LIKE 3###
>Agora vamos para a tabela Produto e no atributo nome vamos realizar uma consulta que nos retorne todos os produtos que contenha a sequencia lh e os seus
respectivos ids

In [ ]:
# Abertura da conexão para uma nova consulta
connection = mysql.connector.connect(
    host=host,
    user=user,
    password=password,
    database=database,
)
cursor = connection.cursor()  # Criação de um cursor para executar consultas SQL no banco de dados
# Definição da consulta SQL a ser executada
query = '''
SELECT
  id_produto,
  nome
  FROM Produto
  WHERE nome LIKE '%lh%';
'''
cursor.execute(query) # Execução da consulta no banco de dados
result = cursor.fetchall() # Recuperação de todos os resultados da consulta
contem = pd.DataFrame(result, columns=cursor.column_names) # Criação de um DataFrame Pandas usando os resultados da consulta e os nomes das colunas do cursor
display(contem) # Exibição do DataFrame Pandas contendo os resultados da consulta
cursor.close() # Fechamento do cursor após a conclusão da consulta
connection.close() # Fechamento da conexão após a consulta

###NULL e NOT NULL###
>Verficar a existência de valores nulos para o atributo nome na tabela Produto

In [ ]:
# Abertura da conexão para uma nova consulta
connection = mysql.connector.connect(
    host=host,
    user=user,
    password=password,
    database=database,
)
cursor = connection.cursor()  # Criação de um cursor para executar consultas SQL no banco de dados
# Definição da consulta SQL a ser executada
query = '''
Select nome from Produto
WHERE nome IS NULL;
'''
cursor.execute(query) # Execução da consulta no banco de dados
result = cursor.fetchall() # Recuperação de todos os resultados da consulta
distinct = pd.DataFrame(result, columns=cursor.column_names) # Criação de um DataFrame Pandas usando os resultados da consulta e os nomes das colunas do cursor
display(distinct) # Exibição do DataFrame Pandas contendo os resultados da consulta
cursor.close() # Fechamento do cursor após a conclusão da consulta
connection.close() # Fechamento da conexão após a consulta

>Verficar a existência de valores não nulos para o atributo nome na tabela Produto

In [ ]:
# Abertura da conexão para uma nova consulta
connection = mysql.connector.connect(
    host=host,
    user=user,
    password=password,
    database=database,
)
cursor = connection.cursor()  # Criação de um cursor para executar consultas SQL no banco de dados
# Definição da consulta SQL a ser executada
query = '''
Select nome from Produto
WHERE nome IS NOT NULL;
'''
cursor.execute(query) # Execução da consulta no banco de dados
result = cursor.fetchall() # Recuperação de todos os resultados da consulta
distinct = pd.DataFrame(result, columns=cursor.column_names) # Criação de um DataFrame Pandas usando os resultados da consulta e os nomes das colunas do cursor
display(distinct) # Exibição do DataFrame Pandas contendo os resultados da consulta
cursor.close() # Fechamento do cursor após a conclusão da consulta
connection.close() # Fechamento da conexão após a consulta

##ORDER BY##
>Vamos selecionar todos os atributos da tabela ItemPedido, ordenando de forma
Crescente por quantidade

In [ ]:
# Abertura da conexão para uma nova consulta
connection = mysql.connector.connect(
    host=host,
    user=user,
    password=password,
    database=database,
)
cursor = connection.cursor()  # Criação de um cursor para executar consultas SQL no banco de dados
# Definição da consulta SQL a ser executada
query = '''
SELECT *
  FROM ItemPedido
 ORDER BY quantidade ASC;
''' # se não usarmos asc ou desc, por padrão ele usará asc
cursor.execute(query) # Execução da consulta no banco de dados
result = cursor.fetchall() # Recuperação de todos os resultados da consulta
distinct = pd.DataFrame(result, columns=cursor.column_names) # Criação de um DataFrame Pandas usando os resultados da consulta e os nomes das colunas do cursor
display(distinct) # Exibição do DataFrame Pandas contendo os resultados da consulta
cursor.close() # Fechamento do cursor após a conclusão da consulta
connection.close() # Fechamento da conexão após a consulta

>Vamos selecionar todos os atributos da tabela ItemPedido, ordenando de forma
decrescente por quantidade

In [ ]:
# Abertura da conexão para uma nova consulta
connection = mysql.connector.connect(
    host=host,
    user=user,
    password=password,
    database=database,
)
cursor = connection.cursor()  # Criação de um cursor para executar consultas SQL no banco de dados
# Definição da consulta SQL a ser executada
query = '''
SELECT *
  FROM ItemPedido
 ORDER BY quantidade DESC;
'''
cursor.execute(query) # Execução da consulta no banco de dados
result = cursor.fetchall() # Recuperação de todos os resultados da consulta
distinct = pd.DataFrame(result, columns=cursor.column_names) # Criação de um DataFrame Pandas usando os resultados da consulta e os nomes das colunas do cursor
display(distinct) # Exibição do DataFrame Pandas contendo os resultados da consulta
cursor.close() # Fechamento do cursor após a conclusão da consulta
connection.close() # Fechamento da conexão após a consulta

##Tratamento de texto##
>TRIM, REPLACE, LPAD, REPLICATE, SUBSTRING, UPPER, LOWER e LEN

In [ ]:
# Abertura da conexão para uma nova consulta
connection = mysql.connector.connect(
    host=host,
    user=user,
    password=password,
    database=database,
)
cursor = connection.cursor()  # Criação de um cursor para executar consultas SQL no banco de dados
# Definição da consulta SQL a ser executada
query = '''
SELECT nome, id_produto,
       TRIM(nome) AS trim,
       REPLACE(nome, 'o', 'oo') AS rep,
       LPAD(id_produto, 5, "0") AS lpad,
       SUBSTRING(nome, 1, 2) AS sub,
       UPPER(nome) AS UPPER,
       LOWER(nome) AS LOWER,
       LENGTH(nome) AS LENGTH
  FROM Produto AS prod;
'''
cursor.execute(query) # Execução da consulta no banco de dados
result = cursor.fetchall() # Recuperação de todos os resultados da consulta
distinct = pd.DataFrame(result, columns=cursor.column_names) # Criação de um DataFrame Pandas usando os resultados da consulta e os nomes das colunas do cursor
display(distinct) # Exibição do DataFrame Pandas contendo os resultados da consulta
cursor.close() # Fechamento do cursor após a conclusão da consulta
connection.close() # Fechamento da conexão após a consulta
'''
TRIM — remove espaços
REPLACE — substitui algo por algo
LPAD e REPLICATE — Replica valores
SUBSTRING — pega trecho de um texto
UPPER — deixa tudo maiúsculo
LOWER — deixa tudo minúsculo
LENGTH — calcula a quantidade de caracteres
'''

##Conversão de tipos - CAST##
>Nesse bloco vamos selecionar o atributo id_cliente da tabela pedido e vamos
fazer uma consulta que retorne uma coluna nova chamada id_cliente_texto com
a concatenação (CONCAT) do texto "Cliente - " com o id do cliente convertido (CAST) em texto

In [ ]:
# Abertura da conexão para uma nova consulta
connection = mysql.connector.connect(
    host=host,
    user=user,
    password=password,
    database=database,
)
cursor = connection.cursor()  # Criação de um cursor para executar consultas SQL no banco de dados
# Definição da consulta SQL a ser executada
query = '''
SELECT id_cliente,
       concat('Cliente - ', CAST(id_cliente AS CHAR)) AS id_cliente_texto
  FROM Pedido;
'''
cursor.execute(query) # Execução da consulta no banco de dados
result = cursor.fetchall() # Recuperação de todos os resultados da consulta
distinct = pd.DataFrame(result, columns=cursor.column_names) # Criação de um DataFrame Pandas usando os resultados da consulta e os nomes das colunas do cursor
display(distinct) # Exibição do DataFrame Pandas contendo os resultados da consulta
cursor.close() # Fechamento do cursor após a conclusão da consulta
connection.close() # Fechamento da conexão após a consulta

##CASE WHEN - Semelhante ao IF/ELSE##

In [ ]:
# Abertura da conexão para uma nova consulta
connection = mysql.connector.connect(
    host=host,
    user=user,
    password=password,
    database=database,
)
cursor = connection.cursor()  # Criação de um cursor para executar consultas SQL no banco de dados
# Definição da consulta SQL a ser executada
query = '''
SELECT id_pedido,
	CASE WHEN quantidade > 30 THEN 'Atacado'
    ELSE 'Varejo' END
FROM ItemPedido;
'''
cursor.execute(query) # Execução da consulta no banco de dados
result = cursor.fetchall() # Recuperação de todos os resultados da consulta
distinct = pd.DataFrame(result, columns=cursor.column_names) # Criação de um DataFrame Pandas usando os resultados da consulta e os nomes das colunas do cursor
display(distinct) # Exibição do DataFrame Pandas contendo os resultados da consulta
cursor.close() # Fechamento do cursor após a conclusão da consulta

##Armazenando uma consulta - VIEW##
>Agora vamos construir a mesma consulta executada no bloco anteior, porém, essa
consulta será uma VIEW, isso significa que essa consulta ficará guardada no
banco de dados original, no entanto não ocupará o espaço de uma tabela orginal

In [ ]:
# Abertura da conexão para uma nova consulta
connection = mysql.connector.connect(
    host=host,
    user=user,
    password=password,
    database=database,
)
cursor = connection.cursor()  # Criação de um cursor para executar consultas SQL no banco de dados
# Definição da consulta SQL a ser executada
query = '''
CREATE OR REPLACE VIEW query_class as
SELECT id_pedido,
	CASE WHEN quantidade > 30 THEN 'Atacado'
    ELSE 'Varejo' END
FROM ItemPedido;
'''
cursor.execute(query) # Execução da consulta no banco de dados
result = cursor.fetchall() # Recuperação de todos os resultados da consulta
distinct = pd.DataFrame(result, columns=cursor.column_names) # Criação de um DataFrame Pandas usando os resultados da consulta e os nomes das colunas do cursor
display(distinct) # Exibição do DataFrame Pandas contendo os resultados da consulta
cursor.close() # Fechamento do cursor após a conclusão da consulta
connection.close() # Fechamento da conexão após a consulta

##Objetivo: Fazer uma consulta que retorne as tabelas do banco de dados loja##
>Resumo do comando: exibe todas as tabelas do banco de dados
aqui podemos perceber que a view criada no bloco anterior está armazenada
no banco de dados original como uma tabela chamada query_class

In [ ]:
# Estabelecimento da conexão com o banco de dados usando as informações fornecidas
connection = mysql.connector.connect(
    host=host,
    user=user,
    password=password,
    database=database,
)
cursor = connection.cursor() # Criação de um cursor para executar consultas SQL no banco de dados
query = 'SHOW TABLES;' # Definição da consulta SQL a ser executada
cursor.execute(query) # Execução da consulta no banco de dados
result = cursor.fetchall() # Recuperação de todos os resultados da consulta
tables = pd.DataFrame(result, columns=cursor.column_names) # Criação de um DataFrame Pandas usando os resultados da consulta e os nomes das colunas do cursor
display(tables) # Exibição do DataFrame Pandas contendo os resultados da consulta
cursor.close() # Fechamento do cursor após a conclusão da consulta
connection.close() # Fechamento da conexão após a consulta

>Esse bloco faz a leitura da consulta que está armazenada no banco original

In [ ]:
# Leitura da VIEW
# Abertura da conexão para uma nova consulta
connection = mysql.connector.connect(
    host=host,
    user=user,
    password=password,
    database=database,
)
cursor = connection.cursor()  # Criação de um cursor para executar consultas SQL no banco de dados
# Definição da consulta SQL a ser executada
query = '''
select * from query_class;
'''
cursor.execute(query) # Execução da consulta no banco de dados
result = cursor.fetchall() # Recuperação de todos os resultados da consulta
distinct = pd.DataFrame(result, columns=cursor.column_names) # Criação de um DataFrame Pandas usando os resultados da consulta e os nomes das colunas do cursor
display(distinct) # Exibição do DataFrame Pandas contendo os resultados da consulta
cursor.close() # Fechamento do cursor após a conclusão da consulta
connection.close() # Fechamento da conexão após a consulta

>Nesse bloco faremos a exclusão da VIEW do banco original e o mesmo voltará a ter as 6 tabelas iniciais

In [ ]:
connection = mysql.connector.connect(
    host=host,
    user=user,
    password=password,
    database=database,
)
cursor = connection.cursor() # Criação de um cursor para executar consultas SQL no banco de dados
query = 'DROP VIEW query_class;' # Definição da consulta SQL a ser executada
cursor.execute(query) # Execução da consulta no banco de dados
cursor.close() # Fechamento do cursor após a conclusão da consulta
connection.close() # Fechamento da conexão após a consulta

##Objetivo: Fazer uma consulta que retorne as tabelas do banco de dados loja##
>Resumo do comando: exibe todas as tabelas do banco de dados

In [ ]:
# Estabelecimento da conexão com o banco de dados usando as informações fornecidas
connection = mysql.connector.connect(
    host=host,
    user=user,
    password=password,
    database=database,
)
cursor = connection.cursor() # Criação de um cursor para executar consultas SQL no banco de dados
query = 'SHOW TABLES;' # Definição da consulta SQL a ser executada
cursor.execute(query) # Execução da consulta no banco de dados
result = cursor.fetchall() # Recuperação de todos os resultados da consulta
tables = pd.DataFrame(result, columns=cursor.column_names) # Criação de um DataFrame Pandas usando os resultados da consulta e os nomes das colunas do cursor
display(tables) # Exibição do DataFrame Pandas contendo os resultados da consulta
cursor.close() # Fechamento do cursor após a conclusão da consulta
connection.close() # Fechamento da conexão após a consulta

#JOINS#
##ESQUEMA GERAL##

###LEFT JOIN###
>O Left Join tem como resultado todos os registros que estão na tabela A (mesmo que não estejam na tabela B) e os registros da tabela B que são comuns à tabela A.

In [ ]:
# Abertura da conexão para uma nova consulta
connection = mysql.connector.connect(
    host=host,
    user=user,
    password=password,
    database=database,
)
cursor = connection.cursor()  # Criação de um cursor para executar consultas SQL no banco de dados
# Definição da consulta SQL a ser executada
query = '''
SELECT *
  FROM      Cliente c
  LEFT JOIN Pedido p ON p.id_cliente = c.id_cliente;
'''
cursor.execute(query) # Execução da consulta no banco de dados
result = cursor.fetchall() # Recuperação de todos os resultados da consulta
distinct = pd.DataFrame(result, columns=cursor.column_names) # Criação de um DataFrame Pandas usando os resultados da consulta e os nomes das colunas do cursor
display(distinct) # Exibição do DataFrame Pandas contendo os resultados da consulta
cursor.close() # Fechamento do cursor após a conclusão da consulta
connection.close() # Fechamento da conexão após a consulta

##INNER JOIN##
>O Inner Join é o método de junção mais conhecido e retorna os registros que  são comuns às duas tabelas

In [ ]:
# Abertura da conexão para uma nova consulta
connection = mysql.connector.connect(
    host=host,
    user=user,
    password=password,
    database=database,
)
cursor = connection.cursor()  # Criação de um cursor para executar consultas SQL no banco de dados
# Definição da consulta SQL a ser executada
query = '''
SELECT *
  FROM  ItemPedido vendas
  INNER JOIN ProdutoCategoria cat ON cat.id_produto = vendas.id_produto;
'''
cursor.execute(query) # Execução da consulta no banco de dados
result = cursor.fetchall() # Recuperação de todos os resultados da consulta
distinct = pd.DataFrame(result, columns=cursor.column_names) # Criação de um DataFrame Pandas usando os resultados da consulta e os nomes das colunas do cursor
display(distinct) # Exibição do DataFrame Pandas contendo os resultados da consulta
cursor.close() # Fechamento do cursor após a conclusão da consulta
connection.close() # Fechamento da conexão após a consulta

##RIGHT JOIN##
>Usando o Right Join teremos como resultado todos os registros que estão
na tabela B (mesmo que não estejam na tabela A)  e os registros da tabela A
que são comuns à tabela B.

In [ ]:
# Abertura da conexão para uma nova consulta
connection = mysql.connector.connect(
    host=host,
    user=user,
    password=password,
    database=database,
)
cursor = connection.cursor()  # Criação de um cursor para executar consultas SQL no banco de dados
# Definição da consulta SQL a ser executada
query = '''
SELECT *
  FROM      Pedido p
  RIGHT JOIN Cliente c ON p.id_cliente = c.id_cliente;
'''
cursor.execute(query) # Execução da consulta no banco de dados
result = cursor.fetchall() # Recuperação de todos os resultados da consulta
distinct = pd.DataFrame(result, columns=cursor.column_names) # Criação de um DataFrame Pandas usando os resultados da consulta e os nomes das colunas do cursor
display(distinct) # Exibição do DataFrame Pandas contendo os resultados da consulta
cursor.close() # Fechamento do cursor após a conclusão da consulta
connection.close() # Fechamento da conexão após a consulta

##OUTER JOIN##
>O Outer Join (também conhecido por Full Outer Join ou Full Join) tem como
resultado todos os registros que estão na tabela A e todos os registros da tabela B. No MySQL não tem nativamente

In [ ]:
# Abertura da conexão para uma nova consulta
connection = mysql.connector.connect(
    host=host,
    user=user,
    password=password,
    database=database,
)
cursor = connection.cursor()  # Criação de um cursor para executar consultas SQL no banco de dados
# Definição da consulta SQL a ser executada
query = '''
SELECT *
  FROM      Cliente c
  LEFT JOIN Pedido p ON p.id_cliente = c.id_cliente
UNION
SELECT *
  FROM      Pedido p
  LEFT JOIN Cliente c ON p.id_cliente = c.id_cliente;
'''
cursor.execute(query) # Execução da consulta no banco de dados
result = cursor.fetchall() # Recuperação de todos os resultados da consulta
distinct = pd.DataFrame(result, columns=cursor.column_names) # Criação de um DataFrame Pandas usando os resultados da consulta e os nomes das colunas do cursor
display(distinct) # Exibição do DataFrame Pandas contendo os resultados da consulta
cursor.close() # Fechamento do cursor após a conclusão da consulta
connection.close() # Fechamento da conexão após a consulta